<div class="text-center mt-5">
  <h1>Boa Prática</h1>
</div>
<div class="container mt-5">
  <form (submit)="handleSubmit(event)" >
    <div class="form-row align-items-center justify-content-md-center">
      <div class="col-sm-4 my-1">
        <label class="sr-only" for="titulo-pratica">Título</label>
        <input type="text" class="form-control" id="titulo-pratica" placeholder="Título">
      </div>
      <div class="col-sm-3 my-1">
        <div class="col-auto my-1">
          <label class="mr-sm-2 sr-only" for="categoria">Categoria</label>
          <select class="custom-select mr-sm-2" id="categoria">
            <option value="Gerência">Escolha... </option>
            <option value="Gerência">Gerência</option>
            <option value="PDS">PDS</option>
            <option value="Codificação">Codificação</option>
            <option value="Arquitetura">Arquitetura</option>
            <option value="Teste">Teste</option>
            <option value="Scrum">Scrum</option>
            <option value="Ágil">Ágil</option>
            <option value="BDD">BDD</option>
          </select>
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </form>
</div>
<div *ngFor="let pratica of praticas">
  {{ pratica.titulo }}
  <!-- <app-boa-pratica-item
    *ngFor="let pratica of praticas"
  >

  </app-boa-pratica-item> -->


</div>
