<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Abpres</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          Página Inicial
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/boa-pratica">Práticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logar</a>
      </li>
    </ul>
  </div>
</nav>
