<div class="form-row align-items-center" >
    <div class="col-sm-3 my-1">
      {{ pratica.titulo }}
    </div>
    <div class="col-sm-3 my-1">
      <div class="col-auto my-1">
        {{ pratica.categoria }}
      </div>
    </div>
  </div>
