.inputSize {
  width: 500px;
  margin-bottom: 8px;
  padding-bottom: 0;
}

.inputSizeNickname {
  padding: 0;
  margin-bottom: 8px;
  width: 250px;
}

.w50 {
  width: 50%;
}

.titleRegister {
  margin: 2rem 3rem;
}