<nav class="navbar navbar-expand-lg navbar-light bg-green">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/img/gpes-branco.png" width="12%" height="12%" class="d-inline-block align-top ml-5"
      alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end w-100" id="navbarSupportedContent">
    <ul *ngIf="currentUser == null" class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/frameworks">
          Frameworks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/boa-pratica">
          O que são boas Práticas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/projeto-agil">
          Projeto Ágil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light btn btn-outline-light mr-2" routerLink="/login">
          Login
        </a>
      </li>
    </ul>

    <ul *ngIf="currentUser != null" class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/frameworks">
          Frameworks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/boa-pratica">
          O que são boas Práticas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2" routerLink="/projeto-agil">
          Projeto Ágil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mr-2">
          Olá, {{currentUser.username}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light btn btn-outline-light mr-2" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>

</nav>