<div class="text-center mt-5">
  <h1>Boa Prática</h1>
</div>
<div class="container mt-5 p-5 shadow">
  <form *ngIf="logado" [formGroup]="praticaForm" #p="ngForm" (ngSubmit)="onSubmit(p)">
    <div class="form-row align-items-center justify-content-md-center">
      <div class="col-sm-4 my-1">
        <label class="sr-only" for="titulo-pratica">Título</label>
        <input [formControlName]="'titulo'" type="text" value="{{ value }}" #titulo class="form-control"
          id="titulo-pratica" placeholder="Título" name="titulo" />
        <div *ngIf="submitted && praticaForm.controls.titulo.errors" class="error position-absolute">
          <div *ngIf="praticaForm.controls.titulo.errors.required">
            Preencha o campo titulo!
          </div>
        </div>
      </div>

      <div class="col-sm-3 my-1">
        <label class="sr-only" for="categoria">Categoria</label>
        <select [formControlName]="'categoria'" class="custom-select form-control" id="categoria" name="categoria">
          <option value="" disabled>Escolha uma categoria</option>
          <option *ngFor="let cat of categorias" value="{{ cat.id }}">
            {{ cat.titulo }}
          </option>
        </select>
        <div *ngIf="submitted && praticaForm.controls.categoria.errors" class="error">
          <div *ngIf="praticaForm.controls.categoria.errors.required">
            Escolha uma categoria!
          </div>
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{ successMsg }}
    </div>
  </form>


  <div *ngIf="edit" class="row align-items-center justify-content-md-center mt-5">
    Atualizar prática
    <div class="col-sm-4 my-1">
      <input type="text" class="form-control" id="titulo-edit" value="{{ editPratica.titulo }}" placeholder="Título"
        #pratica />
    </div>
    <div class="col-sm-3 my-1">
      <input type="text" class="form-control" id="titulo-edit" value="{{ editPratica.categorias[0].titulo }}"
        placeholder="Categoria" disabled #categoria />
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-success" (click)="edite(pratica.value, categoria.value)">
        Salvar
      </button>
    </div>
  </div>

  <table class="table table-hover mt-5 text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th *ngIf="logado" scope="col">Editar</th>
        <th *ngIf="logado" scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody *ngFor="let pratica of praticas">
      <tr>
        <th scope="row">{{ pratica.id }}</th>
        <td>{{ pratica.titulo }}</td>
        <td><span *ngFor="let cat of pratica.categorias">{{ cat.titulo || cat }}</span></td>
        <td *ngIf="logado">
          <button class="btn btn-transparency" (click)="onEdite(pratica)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </td>
        <td *ngIf="logado">
          <button class="btn btn-transparency" (click)="onDelete(pratica)" data-toggle="modal"
            data-target="#deleteModal">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Deletar -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Deletar prática</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir {{ delete_pratica.titulo }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">
          Apagar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model Editar -->
<div class="modal fade " id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar prática</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="edite()">
          <div class="form-row align-items-center justify-content-md-center">
            <div class="col-sm-4 my-1">
              <label class="sr-only" for="titulo-edit">Título</label>
              <input type="text" class="form-control" id="titulo-edit" value="{{ editPratica.titulo }}"
                placeholder="Título" />
              <div *ngIf="submitted && praticaForm.controls.titulo.errors" class="error position-absolute">
                <div *ngIf="praticaForm.controls.titulo.errors.required">
                  Preencha o campo titulo!
                </div>
              </div>
            </div>

            <div class="col-sm-3 my-1">
              <label class="sr-only" for="categoria-edit">Categoria</label>
              <select class="custom-select form-control" id="categoria-edit" :value="editPratica.categoria[0]">
                <option value="" disabled>Escolha uma categoria</option>
                <option *ngFor="let cat of categorias" value="{{ cat.id }}">
                  {{ cat.titulo }}
                </option>
              </select>
              <div *ngIf="submitted && praticaForm.controls.categoria.errors" class="error">
                <div *ngIf="praticaForm.controls.categoria.errors.required">
                  Escolha uma categoria!
                </div>
              </div>
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-success" (click)="edite()" data-dismiss="modal">
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="edite(editPratica)">Salvar</button>
      </div> -->
    </div>
  </div>
</div>