.m0auto {
    margin: 0 auto !important;
}

.mauto {
    margin: auto !important;
}

.mrauto {
    margin-right: auto !important;
}

.mlauto {
    margin-left: auto !important;
}

.mtauto {
    margin-top: auto !important;
}

.mbauto {
    margin-bottom: auto !important;
}

.block {
    display: block !important;
}

.fullwidth {
    width: 100% !important;
}

.w80{
  width: 80%;
}

.w10 {
  width: 10%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

.align_center {
  text-align: center;
}

.hover:hover {
  background-color: #e3f6ff;
}

.table__tr {
  line-height: 3rem;
}

.table__header {
  background-color: #fafafa;
}

.table--editar {
  border: none;
}

.statusDefault{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;

}

.statusMessage {
  margin-bottom: 20px;
}