.headerAbpres {
    height: 74px !important;
    padding: 0 10%;
}

.headerAbpresMenu {
    line-height: 74px !important;
}

.headerAbpresButton {
    padding: 0;
    border: none;
    color: white;
    background: none;
    line-height: 0;
    font-size: 130%;
    &:hover{
        background: none !important;
    }
}

.headerAbpresLoginButton {
    margin-left: 10%;
}

.headerAbpresLeftButtons {
    margin-right: 5%;
}

.layout{
    z-index: 1;
.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
}

.menu{
    background: none;
    border: none;
    .ant-menu-item{
        &:hover{
            border-bottom: none !important
        }
        a{
            color: white
        }
    }
    .ant-menu-item-active{
        border-bottom: none !important
    }
}
}