@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body{
    font-family: 'Montserrat', sans-serif !important;
}

.bottomOutboxShadow{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
