.footerAbpres {
    width: 100%;
    padding: 1% 10% 0;
}

.footerAbpresButton {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    margin-right: 10%;
    font-size: 130%;
}