.headerAbpres {
    height: 74px !important;
    padding: 0 10%;
}

.headerAbpresMenu {
    line-height: 74px !important;
}

.headerAbpresButton {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    font-size: 130%;
}

.headerAbpresLoginButton {
    margin-left: 10%;
}

.headerAbpresLeftButtons {
    margin-right: 5%;
}