<h3 class="text-center content-title">Login</h3>
<form class="col-lg-4 col-md-4 col-sm-4" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="form-group">
    <label for="login" class="col-form-label">Login</label>
    <input type="text" [(ngModel)]="login" class="form-control" id="login" name="login" placeholder="Digite seu login">
    <!-- <small *ngIf="errors != null" id="NameHelp" class="form-text error">{{errors.login}}</small> -->
  </div>
  <div class="form-group">
    <label for="password" class="col-form-label">Senha</label>
    <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" placeholder="Digite a senha">
    <!-- <small *ngIf="errors != null" id="passwordHelp" class="form-text error">{{errors.senha}}</small> -->
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>