<nav class="navbar fixed-bottom navbar-light bg-light">
  <img src="../../../assets/img/gpes.png" width="5%" height="5%" class="d-inline-block align-top ml-5" alt="">
  <p class="text-center mb-0">&copy;GPES - Grupo de Gerência de Projetos em Engenharia de Software</p>
</nav>
