<h3 class="text-center content-title">Crie a sua conta</h3>
<form class="col-lg-4 col-md-4 col-sm-4" #cadastroForm="ngForm" (ngSubmit)="onSubmit(cadastroForm)">
  <div class="form-group">
    <label for="nome" class="col-form-label">Nome de Usuário</label>
    <input type="text" [(ngModel)]="nome" class="form-control" id="nome" name="nome" placeholder="Digite o seu nome">
    <small *ngIf="errors != null" id="NameHelp" class="form-text error">{{errors.nome}}</small>
  </div>
  <div class="form-group">
    <label for="email" class="col-form-label">Email</label>
    <input type="email" name="email" [(ngModel)]="email" class="form-control" id="email" placeholder="Digite o seu e-mail">
    <small *ngIf="errors != null" id="EmailHelp" class="form-text error">{{errors.email}}</small>
  </div>
  <div class="form-group">
    <label for="senha" class="col-form-label">Senha</label>
    <input type="password" [(ngModel)]="senha" class="form-control" id="senha" name="senha" placeholder="Digite a sua senha">
    <small *ngIf="errors != null" id="passwordHelp" class="form-text error">{{errors.senha}}</small>
  </div>
  <div class="form-group">
    <label for="confirmaSenha" class="col-form-label">Confirme a senha</label>
    <input type="password" name="confirmaSenha" [(ngModel)]="confirmaSenha" class="form-control" id="confirmaSenha" placeholder="Digite novamente a senha">
    <small *ngIf="errors != null" id="passwordConfirmHelp" class="form-text error">{{errors.confirmaSenha}}</small>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>