<h3 class="text-center content-title">Criar Categoria</h3>
<!-- <form class="col-lg-4 col-md-4 col-sm-4" #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
  <div class="form-group">
    <label for="titulo" class="col-form-label">Título</label>
    <input type="text" [(ngModel)]="titulo" class="form-control" id="titulo"
      name="titulo" placeholder="Digite o seu titulo" required>
    <small *ngIf="titulo.errors.required" id="NameHelp" class="form-text error">Título é obrigatório.</small>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form> -->

<form class="col-lg-3 col-md-3 col-sm-4" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group">
    <label for="titulo" class="col-form-label">Título</label>
    <input type="text" formControlName="titulo" class="form-control" id="titulo"
      name="titulo" placeholder="Digite o seu titulo" required>
    <!-- <small *ngIf="titulo.errors.required" id="tituloHelp" class="form-text">Preencha este campo!</small> -->
  </div>
  <button class="btn btn-primary" type="submit">Salvar</button>
  <!--  [disabled]="!createForm.valid" -->

</form>