<div class="d-flex justify-content-center flex-column align-items-center">
  <h3 class="mt-5">Categorias</h3>
  <div class="container mt-5 p-5 col-md-3 shadow">
      <!-- <a class="btn btn-success mb-3 float-right">Cadastrar</a> -->
      <a class="btn btn-outline-success mb-3 float-right" routerLink="/categorias/cadastrar" role="button">Cadastrar</a>

      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.titulo }}</td>
            <td>
              <fa-icon [icon]="faPen" class="px-1" routerLink="/categorias/update"></fa-icon>
              <fa-icon [icon]="faTrash" class="px-1" routerLink="/categorias/delete"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

</div>