<section>
  <br>
  <br>
  <h1 class="text-center pt-5">Encontre as melhores metodologias e práticas para o seu projeto!</h1>
  <br>
  <form class="container">
    <div class="form-group w-75 mx-auto">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pesquisar metodologias...">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-light">Buscar</button>
    </div>
  </form>
  <br>
  <br>
</section>
